body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #eeeeee;
}

/* Main Page Content */

main {
  clear: both;
  float: left;
  width: 66%;
  padding: 20px 20px 20px 20px;
}

main h1 {
  text-transform: capitalize;
  margin-bottom: 20px;
}

/* Right Side Column */
aside {
  float: left;
  width: 33%;
  padding-top: 55px;
}

.sideNote.Header {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 10px 0;
}

#signUpForm {
  border: 1px solid black;
  margin: 10px 0 10px 0;
  padding: 10px;
}

#signUpForm h1 {
  font-size: 20px;
  margin-bottom: 5px;
}

#signUpButton {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 2px 24px;
}

/* Products */

.product {
  border: 1px solid grey;
  padding: 5px;
  margin-bottom: 10px;
}

.product h2 {
  text-decoration: underline;
}

.description {
  margin-top: 3px;
}

.order {
  margin: 5px 0;
}

/* About */

.contact {
  margin-top: 20px;
  background-color: lightslategray;
  padding: 5px;
}
.sendField {
  padding-top: 5px;
}
.fieldName {
  width: 50px;
  display: inline-block;
}
